<div id="options-container">
  <div class="row">
    <div class="col-sm game-option" data-option="rock">
      <div class="circle mx-auto d-block">
        <%= image_tag("rock.svg", class: "mx-auto d-block") %>
      </div>
    </div>
    <div class="col-sm game-option" data-option="paper">
      <div class="circle mx-auto d-block">
        <%= image_tag("paper.svg", class: "mx-auto d-block") %>
      </div>
    </div>
    <div class="col-sm game-option" data-option="scissor">
      <div class="circle mx-auto d-block">
        <%= image_tag("scissor.svg", class: "mx-auto d-block") %>
      </div>
    </div>
  </div>
</div><!-- end options container -->

<div id="match-resume">
  <div class="row">
    <div class="col-sm" data-option="rock">
      <h3>total <b>WIN</b></h3>
      <p class="win-counter">0</p>
    </div>
    <div class="col-sm" data-option="paper">
      <h3>total <b>LOSE</b></h3>
      <p class="lose-counter">0</p>
    </div>
  </div>
</div><!-- end match resume -->

<!-- start modals section -->

<div id="modal-triggers">
  <input class="welcome" type="hidden" data-modal="element" data-content="#welcome-modal">
  <input class="result" type="hidden" data-modal="element" data-content="#result-modal">
</div><!-- end modal triggers -->

<div id="welcome-modal" class="modal">
  <div class="welcome-container">
    <h1>Hi, do you want to play with the minions?</h1>
  </div>
</div><!-- end welcome modal -->

<div id="result-modal" class="modal">
  <div class="result">
    <div class="row">
      <div class="col-sm">
        <h3>You</h3>
      </div>
      <div class="col-sm">
        <img class="user-option" src="">
      </div>
      <div class="col-sm">
        <img  class="minions-option" src="">
      </div>
      <div class="col-sm">
        <h3>Minions</h3>
      </div>
    </div>
  </div><!-- end result -->

  <div class="message">
    <h1><!-- load by JS --></h1>
    <h2>continue?</h2>
    <img class="minion" src="">
  </div>
</div><!-- end result modal -->

<!-- end modals section -->






