/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Quicksand', sans-serif; 
}

.game-option img{
  width: 150px;
}

/*** navbar ***/

nav{
  margin: 0 60px 150px 60px;
}

.navbar a{
  color: black;
}

.navbar a:hover{
  color: gray;
  border-bottom: 1px solid gray;
}

.logo{
  width: 90px;
}

/*** game - options ***/

#options-container{
  margin-bottom: 150px;
}

#options-container [class*="col-"]{
  padding: 40px;
  background-color: #38c3ce;
  margin: 0px 116px;
  border-radius: 120px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

#options-container [class*="col-"]:hover{
  padding: 40px;
  background-color: #47c3b1;
  margin: 0px 116px;
  border-radius: 120px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
}

/*** match - resume ***/

#match-resume h3,
#match-resume p{
  width: 100%;
  text-align: center;
}

/*** modal - result ***/

.modal-content .result{
  padding: 0 150px;
  margin-top: 160px;
  width: 100%;
}

.modal-content .result h3{
  padding-top: 20px;
  float: 
}

.modal-content .result [class*="col-"]{
  text-align: center;
  margin: 0 30px;
}

.result img{
  width: 80px;
}

.result .winner{
  width: 150px;
  margin-top: -40px
}

/*** modal - message ***/

.modal-content .message{
  text-align: center;
}

.modal-content .message h1{
    margin-bottom: 20px;
    margin-top: 8%;
    font-size: 5em;
}

.modal-content .message h2{
    margin-bottom: 55px;
}

.modal-content .message .minion{
  position: absolute;
  bottom: 0;
  left: 0;
}

/*** modal - buttons ***/

.modal-overlay.active .modal-buttons button{
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 40px;
  line-height: 16px;
  font-weight: normal;
  padding: 20px;
  background-color: #fff;
  color: white;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
  transition: background 300ms ease-out;
  width: 130px;
  height: 130px;
  margin: 0 30px;
}

.modal-overlay.active .modal-buttons .continue-game{
  background-color: #76ff03;
}

.modal-overlay.active .modal-buttons .end-game{
  background-color: #ff3d00;
}



